body {
    font-family: "Exo 2", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Playpen Sans", cursive;
    background-color:  #bb6162;
    color: #faea41; 
    display: inline-flexbox;
    text-align: center;
    
  }
.button-class {
    background-color: #bb6162;
    font-family: inherit;
    border: 2px solid;
    text-decoration: none;
    color: #faea41;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    transition: opacity 1s; 
    
    
  }
.button-class:hover {
  cursor: pointer;
     
  opacity: 0.5;
}
.pokemon-list {
  list-style-type: none;
  
  
}
